<%  if @show_data == false %>
	"Whoops something went wrong and your sso did not know the tribal handshake"
<% else %>
	" Congratulations you are now signed into see the portal for resource #{params[:resourcename]}"
<% end %>